*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center{
  width: 50%;
  margin: auto;
}

ul{
  margin-top: 0.5vw;
  margin-bottom: 2vw;
  list-style: none;
  border: 2px solid black;
  padding: 1%;
}
li{
  width: 100%;
  display: flex;
  gap: 6vw;
  justify-content: flex-start;
  text-align: right;
}

/* span:first-child{
  text-align: center;
} */
span{
  /* margin-right: 3vw; */

  text-align: left;
  /* width: 100%; */
}